{% extends 'service/base.html'%}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">{{ title }}</p>
    </div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Рассылка №{{ object.mailing.pk }}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <h6>Дата:</h6>
                        <li>{{ object.date_time}}</li>
                        <h6>Статус:</h6>
                        <li>{{ object.status }}</li>
                        <h6>Ответ сервера:</h6>
                         <li>{{ object.answer }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}