{% extends 'service/base.html'%}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">{{ title }}</p>
    </div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <h6>Email:</h6>
                        <li>{{ object.email }}</li>
                        <h6>Контактный телефон:</h6>
                        <li>{{ object.phone }}</li>
                        <h6>Имя пользователя:</h6>
                         <li>{{ object.name }}</li>
                        <h6>Статус в системе:</h6>
                        <li>{% if object.is_active %}
                                Активен
                            {% else %}
                                Заблокирован
                            {% endif %}
                        </li>
                    </ul>
                    {% if object != user %}
                        {% if object.is_active %}
                            <a href="{% url 'users:block_user' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-danger">Заблокировать</a>
                        {% else %}
                            <a href="{% url 'users:block_user' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-danger">Разблокировать</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}